#quotedetails{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.card{
    padding: 20px;
    margin: 20px;
}
.badge{
    cursor: pointer;
    margin-right: 10px;
    margin-left: 5px;
}
#floatdelete{
    /* position: absolute; */
    float: right;
    bottom: 0;
    margin-right: 0;
}